  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li> -->
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/devices/add" class="nav-link">Add Device</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/devices" class="nav-link">List Devices</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/groups" class="nav-link">Group Device</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/relay_groups" class="nav-link">Relay Group</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->



  </nav>
  <!-- /.navbar -->
