<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Group Devices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Edit Devices in Group: {{ group.group_name }}</h1>
        <form method="post" action="{{ url_for('device_blueprint.add_or_remove_devices_from_group', group_id=group.id) }}">
            {{ group_form.csrf_token }}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Device IP</th>
                        <th>Device Name</th>
                        <th>Add to Group</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in available_devices %}
                    <tr>
                        <td>{{ device.id }}</td>
                        <td>{{ device.device_ip }}</td>
                        <td>{{ device.device_name }}</td>
                        <td>
                            <input type="checkbox" name="device_ids[]" value="{{ device.id }}" {% if device.id in selected_device_ids %}checked{% endif %}>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Update Devices in Group</button>
        </form>
        
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
